/.dist
/01-01-2023.csv
/01-22-2022.csv
/covid-19-daily-cases-data.csv
/covid_19_india.csv
/covid_vaccine_statewise.csv
/Day1.ipynb
/Day2.ipynb
/France.ipynb
/M1.ipynb
/M2.ipynb
/M3.ipynb
/M4.ipynb
/models.ipynb
/owid-covid-data.csv
/parameterestimation.ipynb
/SEIR1model.ipynb
/SEIR2model.ipynb
/SEIR3model.ipynb
/SEQIQR.ipynb
/SHIQ.ipynb
/SICRmodel.ipynb
/SIR.ipynb
/StatewiseTestingDetails.csv
/time_series_covid19_confirmed_global.csv
/time_series_covid19_recovered_global.csv